<%= form_for @image, html: { multipart: true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset %><br>
    <%= f.file_field :asset %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption, size: "40x10" %>
  </div>
  <div class="field">
    <%= f.label :splash, "Display on homepage?" %>
    <%= f.check_box :splash %>
  </div>

  <div class="field">
    <%= f.label :location_list %>
    <%= f.select :location_list, @locations.collect {|t| [t.name, t.id]}, {}, multiple: true, class: "form-control" %>
    <%= text_field_tag :location %>
    <%= link_to "+", new_tag_path, class: "btn btn-primary", remote: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
